<%= javascript_include_tag "groups" %>
<%= @group.name %>

Group members:
<% @users.each do |u| %>
  <div><%= u.name %> - <%= link_to "Remove from group", delete_membership_path(member_to_delete(@group, u)), data: {confirm: "Are you sure?" }, remote: true, class: 'delete-member' %></div>
<% end %>



<div>Categories:</div>
<% @categories.each do |c| %>
  <div><%= c.title %> - <%= link_to "Edit title", edit_category_path(c.id) %>
      <%= link_to "Delete", category_path(c.id), method: 'delete', remote: true, data: { confirm: 'Are you sure?'}, class: 'delete-category' %></div>
<% end %>

<div><%= link_to 'Add Category', new_group_category_path(@group), id: 'add-category' %></div>

<div><%= link_to 'Back', root_path %></div>
