<p id="notice"><%= notice %></p>
Add new receipt:
<%= link_to 'New Receipt', new_group_receipt_path(params[:id]) %>

<p>Group total:
<%= @group.balance %>
</p>

<ul>
<% @memberships.each do |m| %>
  <li><%= User.find(m.user_id).name %>'s balance: <%= m.balance %></li>
<% end %>
</ul>

<p>Most recent receipt:
  <%= link_to @group.receipts.last.title, receipt_path(@group.receipts.last.id) %>
</p>

<p> 
  <%= link_to 'See all receipts', group_receipts_path(params[:id]) %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
