<p id="notice"><%= notice %></p>
  <h1>Welcome, <%= current_user.name%></h1>
  <h3> Your groups: </h3>
    <% current_user.groups.each do |g| %>
      <div><%= link_to g.name, group_receipts_path(g.id) %></div>
      <div><%= link_to "Edit group", group_path(g.id) %></div>

      <div><%= link_to 'Add New Receipt', new_group_receipt_path(g.id) %></div>
      <p>Group Total: <%= g.balance %></p>
      <p>Total by Member:</p>
      <ul>
      <% Membership.where("group_id = ?", g.id).each do |m| %>
        <li><%= User.find(m.user_id).name %>'s balance: <%= m.balance %></li>
        <% end %>
      </ul>
      <p>Most recent receipt:
        <%= link_to g.receipts.last.title, receipt_path(g.receipts.last.id) %>
      </p>
      <br/>
      <br/>
    <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>







