<%= form_for [@receipt, @purchase] do |f| %>

<%= f.label :description, "Description: " %>
<%= f.text_field :description %>

<%= f.label :category_id, "Category: " %>
<%= f.collection_select :category_id, @categories.all, :id, :title %>

<%= f.label :price, "Price: " %>
<%= f.text_field :price %>

<%= f.label :quantity, "Quantity: " %>
<%= f.text_field :quantity %>

<%= f.label :tax, "Tax: " %>
<%= f.text_field :tax %>

<%= f.label :split, "Split?: " %>
<%= f.check_box :split %>


  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
