<%= javascript_include_tag "purchases" %>


<%= form_for [@receipt, @purchase] do |f| %>

<%= f.label :description, "Description: " %>
<%= f.text_field :description %>

<%= f.label :category_id, "Category: " %>
<%= f.collection_select :category_id, @categories.all, :id, :title %>

<%= f.label :price, "Price: " %>
<%= f.text_field :price %>

<%= f.label :quantity, "Quantity: " %>
<%= f.text_field :quantity %>

<%= f.label :tax, "Tax: " %>
<%= f.text_field :tax %>%

<%= f.label :split, "Split?: " %>
<%= f.check_box :split, {id: 'split-checkbox'} %>

<%= f.label :membership_id_one_buyer, "Buyer: ", class: 'one-buyer-fields'%>
<%= f.select :membership_id_one_buyer, @memberships.all.collect {|m| [User.find(m.user_id).name, m.id] },{ :include_blank=>true }, {class: 'one-buyer-fields'}  %>

<%# @memberships.each do |m| %>
  <%= f.label :membership_id_split, "Buyer: ", class: 'split-fields', style: 'display:none'%>
  <%= f.select :membership_id_split, @memberships.all.collect {|m| [User.find(m.user_id).name, m.id] },{ :include_blank => true }, {class: 'split-fields', style: 'display:none'}  %>

  <%= f.label :percentage, "Percentage: ", class: 'split-fields', style: 'display:none' %>
  <%= f.text_field :percentage, class: 'split-fields', style: 'display:none' %>
<%# end %>

<!-- TODO YTF doesn't work... trying to set this on split... need to create fields not tied to form -->
<%#= f.fields_for @test do |s| %>
  <%#= s.label :membership_id, "Buyer: ", class: 'split-fields', style: 'display:none' %>
  <%#= s.select :membership_id, @memberships.all.collect {|m| [User.find(m.user_id).name, m.id] },{ :include_blank=>true }, {class: 'split-fields', style: 'display:none'}  %>

  <%#= s.label :percentage, "Percentage: ", class: 'split-fields', style: 'display:none' %>
  <%#= s.text_field :percentage, class: 'split-fields', style: 'display:none' %>
<%# end %>

  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
