<%= form_for (@purchase) do |f| %>

  <%= f.fields_for :splits do |s| %>

    <%= f.label :membership_id, "Buyer: " %>
    <%= f.select :membership_id, @memberships.all.collect {|m| [User.find(m.user_id).name, m.id] }  %>

    <%= f.label :percentage, "Percentage: " %>
    <%= f.text_field :percentage %>

  <% end %>
  <% if @split.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@split.errors.count, "error") %> prohibited this split from being saved:</h2>

      <ul>
      <% @split.errors.messages.values.each do |msg| %>
        <%msg.each do  |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
