<%= javascript_include_tag "receipts" %>
<h1>Listing receipts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>

<% @receipts.each do |receipt| %>
<!-- YTF TODO change date format -->
  <div><%= link_to receipt.title, "#", class: "receipt-list-item" %> (<%= receipt.date %>) <%= link_to "Add purchase", new_receipt_purchase_path(receipt.id) %>
    <ul id='list-items' style='display:none;' >
    <% receipt.purchases.each do |p| %>
      <% if p.splits.size == 1 %>
        <li><%= p.description %>: $<%= p.price %> - <%= Membership.find(p.splits.first.membership_id).user.name %></li>
      <% else %>
        <li><%= p.description %>: $<%= p.price %> -
          <% if splits_equal_100?(p) %>
          "Splits = 100%"
          <% else %>
          <%= link_to "Split", new_purchase_split_path(p) %>
          <% end %>
        </li>

        <% p.splits.each do |s| %>
          <div><%= Membership.find(s.membership_id).user.name %>: <%= s.percentage * 100 %>% - $<%= (s.percentage.to_f)* s.purchase.taxed_total.to_f %> <%= link_to "Edit Split", edit_split_path(s)%></div>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>


<br>
<%= link_to 'New Receipt', new_group_receipt_path(params[:group_id], remote: true) %>
