<%= javascript_include_tag "receipts" %>
<h1>Listing receipts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>

<% @receipts.each do |receipt| %>
<!-- YTF TODO change date format -->
  <div><%= content_tag(:a, receipt.title, class: 'receipt-list-item') %> (<%= receipt.date %>) <%= link_to "Add purchase", new_receipt_purchase_path(receipt.id) %>
    <ul id='list-items' style='display:none;' >
    <% receipt.purchases.each do |p| %>
     <li><%= p.description %>: <%= number_to_currency(p.price) %> <%= link_to "Edit Purchase", edit_purchase_path(p) %></li>
      <% if p.splits.size == 1 %>
          <div><%= Membership.find(p.splits.first.membership_id).user.name %></div>
      <% else %>
        <% p.splits.each do |s| %>
          <div><%= Membership.find(s.membership_id).user.name %>: <%= s.percentage * 100 %>% - <%= number_to_currency(s.percentage.to_f * s.purchase.taxed_total.to_f )%> </div>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>


<br>
<%= link_to 'New Receipt', new_group_receipt_path(params[:group_id], remote: true) %>
